^ContentPage { 
    background-color: #a96538; 
    padding: 10; 
}

^Button {
    font-size: 12;
    color: #a96538;
    margin: 0;
}

^Button.primary {
    background-color: #a96538;
    color: #fff;
}

#LoginBox { 
    border-radius: 15;
    background-color: #fff;
}

^Entry { 
    height: 40; 
    color: #666;
}